Repository boostcamp-2020/IssueTracker-36, pull requests merged in 2020-11, with the labels that each got.

#31 [common][fix] : .gitmessage 파일 수정
  .gitmessage
Labels: 🛠Common

#32 [fe][feat] : react-router-dom을 이용한 라우팅
  .eslintrc.json
  .prettierrc.json
  frontend/components/App.jsx
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/NotFoundPage.jsx
  frontend/pages/auth/LoginPage.jsx
  frontend/pages/auth/SignupPage.jsx
  frontend/pages/index.jsx
  frontend/pages/issues/IssueAddPage.jsx
  frontend/pages/issues/IssueDetailPage.jsx
  frontend/pages/issues/IssueListPage.jsx
  frontend/pages/lables/LabelListPage.jsx
  frontend/pages/milestones/MilestoneAddPage.jsx
  frontend/pages/milestones/MilestoneDetailPage.jsx
  frontend/pages/milestones/MilestoneEditPage.jsx
  frontend/pages/milestones/MilestoneListPage.jsx
  frontend/utils/PrivateRoute.jsx
Labels: :spider_web: Frontend

#34 [fe] [feat]: 로그인 페이지 컴포넌트 작성
  frontend/components/App.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/auth/LoggingInPage.jsx
  frontend/pages/auth/LoginPage.jsx
  frontend/pages/index.jsx
  frontend/services/auth/is-auth.js
  frontend/services/auth/oauth-github.js
  frontend/static/github-icon-48.png
  frontend/webpack.config.common.js
  frontend/webpack.config.dev.js
Labels: :spider_web: Frontend

#36 [BE][feat] github oauth 로그인 api 구현
  backend/package-lock.json
  backend/package.json
  backend/routes/auth/get-accesstoken.js
  backend/routes/auth/index.js
  backend/services/user/add-user.js
Labels: ⛽ Backend

#38 [be][feat] : label 조회 API 구현
  backend/routes/label/index.js
  backend/services/label/getLabel.js
Labels: ⛽ Backend

#42 [fe][feat] : global theme(css variables) 정의
  frontend/components/App.jsx
  frontend/layouts/AuthPageLayout.jsx
  frontend/layouts/GlobalStyle.jsx
  frontend/pages/NotFoundPage.jsx
  frontend/pages/auth/LoggingInPage.jsx
  frontend/pages/auth/LoginPage.jsx
  frontend/pages/auth/SignupPage.jsx
Labels: :spider_web: Frontend

#43 [Common][feat] 유저 로그인 동작 수정/ axios interceptor 추가/ api 요청 검증
  backend/routes/index.js
  backend/services/user/is-auth.js
  frontend/pages/auth/LoggingInPage.jsx
  frontend/pages/auth/LoginPage.jsx
  frontend/services/auth/is-auth.js
  frontend/services/auth/oauth-github.js
  frontend/utils/PrivateRoute.jsx
  frontend/utils/api-request.js
  frontend/utils/user-authenticate.js
  frontend/utils/user-info.js
Labels: 🛠Common

#44 [FE][fix] : 로그인 중 페이지 오류 수정
  frontend/pages/auth/LoggingInPage.jsx
Labels: :spider_web: Frontend

#45 [be][feat] : 이슈 조회 api 구현 #22
  backend/routes/issue/index.js
  backend/services/issue/getIssue.js
  backend/services/issue/getIssues.js
Labels: ⛽ Backend

#47 [be][refactor] : dotenv설정 수정, morgan 추가
  backend/bin/www
  backend/index.js
  backend/routes/auth/get-accesstoken.js
  backend/sequelize/config.js
  backend/sequelize/models/index.js
  backend/services/user/add-user.js
  backend/services/user/is-auth.js
Labels: ⛽ Backend

#46 [FE][feat] :Header 컴포넌트 작성 #25
  frontend/components/Header.jsx
  frontend/layouts/GlobalStyle.jsx
  frontend/layouts/MainPageLayout.jsx
Labels: :spider_web: Frontend

#48 [FE][feat] 라벨, 마일스톤 이동 컴포넌트 추가
  frontend/components/LabelMilestoneTab.jsx
  frontend/components/TabButton.jsx
  frontend/package-lock.json
  frontend/package.json
Labels: :spider_web: Frontend

#49 [fe][feat] : storybook 환경설정 #28
  .eslintrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/stories/examples/Button.jsx
  frontend/stories/examples/Button.stories.jsx
  frontend/stories/examples/Header.jsx
  frontend/stories/examples/Header.stories.jsx
  frontend/stories/examples/Page.jsx
  frontend/stories/examples/Page.stories.jsx
  frontend/stories/examples/button.css
  frontend/stories/examples/header.css
  frontend/stories/examples/page.css
Labels: :spider_web: Frontend

#53 [FE][feat] label 리스트용 컴포넌트 제작
  frontend/components/common/label.jsx
  frontend/components/common/table.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/index.jsx
  frontend/pages/labels/LabelListPage.jsx
  frontend/pages/lables/LabelListPage.jsx
  frontend/services/index.js
  frontend/services/label/getters.js
  frontend/services/label/index.js
Labels: :spider_web: Frontend

#54 [FE][feat] 라벨 및 마일스톤 페이지 서브라우팅 추가
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/components/App.jsx
  frontend/components/LabelMilestoneTab.jsx
  frontend/components/TabButton.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/common/LabelMilestonePage.jsx
  frontend/pages/index.jsx
  frontend/stories/LabelMilestoneTab.stories.jsx
  frontend/utils/PrivateRoute.jsx
Labels: :spider_web: Frontend

#55 [BE][fix] : 로그인 response 수정
  backend/routes/auth/get-accesstoken.js
  backend/services/user/add-user.js
Labels: ⛽ Backend

#56 [FE][feat] : 로그아웃 기능 구현 #26
  frontend/components/App.jsx
  frontend/components/Header.jsx
  frontend/layouts/MainPageLayout.jsx
  frontend/pages/issues/IssueListPage.jsx
  frontend/utils/user-info.js
Labels: :spider_web: Frontend

#57 [BE][Feat]milestoneapi 작성
  backend/routes/milestone/index.js
  backend/services/milestone/getMilestone.js
  backend/services/milestone/getMilestones.js
  frontend/.storybook/main.js
  frontend/components/Header.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/services/index.js
  frontend/services/label/getters.js
  frontend/services/label/index.js
Labels: ⛽ Backend

#60 [BE][feat] : 단일 이슈 수정 api 구현
  backend/routes/issue/index.js
  backend/services/issue/editIssue.js
Labels: ⛽ Backend

#69 [BE][fix] : is_auth 에서 token관련 에러 핸들링 개선
  backend/services/user/is-auth.js
Labels: bug, ⛽ Backend

#70 [BE][feat] : PATCH issues API #23
  backend/routes/issue/index.js
  backend/services/issue/patchIssues.js
Labels: ⛽ Backend

#72 [BE][feat] : PATCH issues 입력 검증
  backend/services/issue/patchIssues.js
Labels: ⛽ Backend

#74 [FE][feat] issue 리스트 컴포넌트 작성
  backend/services/issue/getIssues.js
  frontend/components/IssueCard.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/stories/IssueCard.stories.jsx
Labels: :spider_web: Frontend

#75 [FE][feat] milestone list page 구현
  frontend/pages/milestones/MilestoneListPage.jsx
  frontend/services/index.js
  frontend/services/milestones/getters.js
  frontend/services/milestones/index.js
Labels: :spider_web: Frontend

#76 [BE][fix] : editIssue api 수정
  backend/services/issue/editIssue.js
Labels: ⛽ Backend

#81 [FE][fix] :table header,body 이름 수정 #issue_id
  frontend/pages/milestones/MilestoneListPage.jsx
Labels: :spider_web: Frontend

#83 [FE] label add api 구현
  backend/routes/label/index.js
  backend/services/label/addLabel.js
Labels: ⛽ Backend

#84 [FE][feat] Button 컴포넌트 추가
  frontend/.storybook/main.js
  frontend/components/common/Button.jsx
  frontend/components/common/table.jsx
  frontend/layouts/GlobalStyle.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/stories/Button.stories.jsx
Labels: :spider_web: Frontend

#85 [Common][feat] 이슈 리스트 페이지 작성
  backend/services/issue/getIssues.js
  frontend/components/Header.jsx
  frontend/components/IssueCard.jsx
  frontend/components/issue/IssueList.jsx
  frontend/components/issue/IssueListHeader.jsx
  frontend/layouts/MainPageLayout.jsx
  frontend/pages/issues/IssueListPage.jsx
  frontend/services/index.js
  frontend/services/issue/getters.js
  frontend/services/issue/index.js
Labels: 🛠Common

#87 [FE][feat] : ProgressBar 컴포넌트 추가
  frontend/components/common/ProgressBar.jsx
  frontend/layouts/GlobalStyle.jsx
  frontend/stories/ProgressBar.stories.jsx
Labels: :spider_web: Frontend

#94 [FE][fix] : storybook docs 에러 수정
  frontend/.storybook/main.js
  frontend/package.json
Labels: :baby_chick: Frontend

#95 [FE][refactor] : 파일이름 수정
  frontend/components/common/label.jsx
  frontend/components/common/table.jsx
  frontend/components/label/LabelAdder.jsx
  frontend/components/label/LabelList.jsx
  frontend/components/milestone/MilestoneList.jsx
Labels: :baby_chick: Frontend

#97 [FE][feat] : 드롭다운 기본 형태 구현 #86
  frontend/components/common/Dropdown.jsx
  frontend/stories/Dropdown.stories.jsx
Labels: :baby_chick: Frontend

#103 [FE] 마일스톤 컴포넌트
  frontend/components/milestone/Milestone.jsx
  frontend/components/milestone/MilestoneList.jsx
  frontend/components/milestone/MilestoneListHeader.jsx
  frontend/pages/milestones/MilestoneListPage.jsx
  frontend/stories/Milestone.stories.jsx
Labels: :baby_chick: Frontend

#98 [Common][feat] 유저 조회 API 구현
  backend/routes/user/index.js
  backend/services/user/getUsers.js
  frontend/services/users/getters.js
  frontend/services/users/index.js
Labels: 🛠Common

#100 [FE][feat] : ButtonGroup 컴포넌트 추가
  frontend/components/common/Button.jsx
  frontend/components/common/ButtonGroup.jsx
  frontend/stories/ButtonGroup.stories.jsx
Labels: :baby_chick: Frontend

#102 [FE][Feat] 텍스트 입력창
  frontend/components/common/WritingArea.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/stories/WritingArea.stories.jsx
Labels: :baby_chick: Frontend

#141 [COMMON][chore] 자동배포 설정
  backend/index.js
  backend/sequelize/config.js
  ecosystem.config.js
  frontend/package-lock.json
  frontend/package.json
Labels: 🐜bug, 🛠Common

#142 [BE][feat] issue 관련 api
  backend/routes/issue/index.js
  backend/sequelize/models/issue.js
  backend/services/issue/addIssue.js
  backend/services/issue/addIssueLabel.js
  backend/services/issue/addIssueUser.js
  backend/services/issue/deleteIssue.js
  backend/services/issue/deleteIssueLabel.js
  backend/services/issue/deleteIssueUser.js
  backend/services/issue/getIssue.js
Labels: ⛽ Backend

#143 [FE][feat] : open,close 라벨
  frontend/components/common/Label.jsx
Labels: :baby_chick: Frontend

#146 [FE][feat] : Avatar 컴포넌트 추가
  frontend/components/common/Avatar.jsx
  frontend/stories/Avatar.stories.jsx
  frontend/stories/IssueCard.stories.jsx
Labels: :baby_chick: Frontend

#147 [FE][feat] 이슈 추가 동작
  frontend/components/common/Dropdown.jsx
  frontend/components/common/WritingArea.jsx
  frontend/components/issue/IssueList.jsx
  frontend/components/issue/IssueSidebar.jsx
  frontend/components/issue/NewIssueForm.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/issues/IssueAddPage.jsx
  frontend/services/issue/adders.js
  frontend/services/issue/index.js
  frontend/utils/OptionGenerator.jsx
  frontend/webpack.config.common.js
Labels: :baby_chick: Frontend

#148 [FE,BE] issue상세 페이지
  backend/sequelize/models/milestone.js
  backend/services/issue/getIssue.js
  backend/services/milestone/getMilestone.js
  frontend/components/IssueCard.jsx
  frontend/components/issue/issueDetailHeader.jsx
  frontend/pages/issues/IssueDetailPage.jsx
  frontend/services/issue/getters.js
Labels: :baby_chick: Frontend, ⛽ Backend

#152 [FE][feat] : 리스트 페이지 라벨 및 마일스톤 개수 표시
  frontend/pages/issues/IssueListPage.jsx
Labels: :baby_chick: Frontend

#153 [FE][feat] : 코멘트 Dropdown 컴포넌트 추가
  frontend/components/comment/Dropdown.jsx
  frontend/stories/examples/Button.jsx
  frontend/stories/examples/Button.stories.jsx
  frontend/stories/examples/Header.jsx
  frontend/stories/examples/Header.stories.jsx
  frontend/stories/examples/Page.jsx
  frontend/stories/examples/Page.stories.jsx
  frontend/stories/examples/button.css
  frontend/stories/examples/header.css
  frontend/stories/examples/page.css
Labels: :baby_chick: Frontend

#160 [BE][feat] : 마일스톤 추가 api #108
  backend/routes/milestone/index.js
  backend/services/milestone/addMilestone.js
  backend/services/milestone/getMilestone.js
Labels: ⛽ Backend

#157 [FE][feat] : ReactionButton 컴포넌트 추가
  frontend/components/comment/ReactionButton.jsx
  frontend/stories/ReactionButton.stories.jsx
Labels: :baby_chick: Frontend

#158 [BE][feat] milestone 삭제,수정 api
  backend/routes/milestone/index.js
  backend/services/issue/deleteIssue.js
  backend/services/label/deleteLabel.js
  backend/services/milestone/deleteMilestone.js
  backend/services/milestone/updateMilestone.js
Labels: ⛽ Backend

#162 [COMMON][feat] : 코멘트 컴포넌트 기본 구현
  backend/services/issue/getIssue.js
  frontend/components/comment/Comment.jsx
  frontend/components/comment/CommentItem.jsx
  frontend/components/comment/CommentList.jsx
  frontend/components/comment/ReactionButton.jsx
  frontend/components/common/Avatar.jsx
  frontend/components/common/Emoji.jsx
  frontend/layouts/GlobalStyle.jsx
  frontend/stories/Comment.stories.jsx
  frontend/stories/CommentItem.stories.jsx
  frontend/stories/CommentList.stories.jsx
  frontend/stories/ReactionButton.stories.jsx
Labels: :baby_chick: Frontend

#163 [FE][feat] 필터 API 및 기본 동작
  backend/services/issue/getIssues.js
  frontend/components/issue/IssueList.jsx
  frontend/components/issue/IssueSelectFilter.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/issues/IssueListPage.jsx
  frontend/services/issue/getters.js
  frontend/utils/OptionGenerator.jsx
Labels: :baby_chick: Frontend, ⛽ Backend

#165 [FE][feat] : useContext, useReducer를 이용한 Store 구현
  .eslintrc.json
  backend/services/label/deleteLabel.js
  frontend/.storybook/main.js
  frontend/components/App.jsx
  frontend/components/Header.jsx
  frontend/components/label/LabelAdder.jsx
  frontend/components/label/LabelList.jsx
  frontend/components/milestone/Milestone.jsx
  frontend/components/milestone/MilestoneList.jsx
  frontend/components/milestone/MilestoneListHeader.jsx
  frontend/index.jsx
  frontend/jsconfig.json
  frontend/pages/auth/LoggingInPage.jsx
  frontend/pages/auth/LoginPage.jsx
  frontend/pages/issues/IssueDetailPage.jsx
  frontend/pages/labels/LabelListPage.jsx
  frontend/pages/milestones/MilestoneListPage.jsx
  frontend/services/auth/oauth-github.js
  frontend/services/index.js
  frontend/store/LabelProvider.jsx
  frontend/store/MilestoneProvider.jsx
  frontend/store/UserProvider.jsx
  frontend/store/actions/index.jsx
  frontend/store/index.jsx
  frontend/utils/Context.jsx
  frontend/utils/PrivateRoute.jsx
  frontend/utils/tokenStorage.js
  frontend/utils/user-info.js
  frontend/webpack.config.common.js
Labels: :baby_chick: Frontend

#166 [FE][feat] 마일스톤 페이지
  backend/services/milestone/addMilestone.js
  backend/services/milestone/updateMilestone.js
  frontend/components/common/Table.jsx
  frontend/components/milestone/Milestone.jsx
  frontend/components/milestone/MilestoneForm.jsx
  frontend/components/milestone/MilestoneGraph.jsx
  frontend/components/milestone/MilestoneList.jsx
  frontend/components/milestone/MilestoneListHeader.jsx
  frontend/layouts/MainPageLayout.jsx
  frontend/pages/common/LabelMilestonePage.jsx
  frontend/pages/common/LabelMilestonePageNavbar.jsx
  frontend/pages/milestones/MilestoneAddPage.jsx
  frontend/pages/milestones/MilestoneEditPage.jsx
  frontend/pages/milestones/MilestoneListPage.jsx
  frontend/services/milestones/adders.js
  frontend/services/milestones/deleters.js
  frontend/services/milestones/index.js
  frontend/services/milestones/updaters.js
  frontend/store/MilestoneProvider.jsx
  frontend/store/actions/index.jsx
  frontend/utils/OptionGenerator.jsx
Labels: :baby_chick: Frontend, ⛽ Backend

#170 [BE][feat] : 라벨 수정 API 추가
  backend/routes/label/index.js
  backend/services/label/updateLabel.js
Labels: ⛽ Backend

#171 [FE][feat] : 라벨 추가/수정 기능 보완 및 구현
  frontend/components/label/Label.jsx
  frontend/components/label/LabelForm.jsx
  frontend/components/label/LabelList.jsx
  frontend/pages/labels/LabelListPage.jsx
  frontend/services/label/index.js
  frontend/services/label/updaters.js
  frontend/store/LabelProvider.jsx
  frontend/store/actions/index.jsx
Labels: :baby_chick: Frontend

#172 [FE][feat] : Reaction Dropdown css 추가
  frontend/components/comment/Dropdown.jsx
Labels: :baby_chick: Frontend

#173 [BE][feat] : reaction 추가/삭제 API 추가
  backend/routes/comment/index.js
  backend/sequelize/seeders/20201102102613-reaction.js
  backend/services/comment/addReaction.js
  backend/services/comment/deleteReaction.js
Labels: ⛽ Backend

#175 [Common][feat] WritingArea 이미지 드롭다운
  backend/package-lock.json
  backend/package.json
  backend/routes/image/index.js
  backend/services/image/index.js
  backend/services/image/setMulter.js
  backend/services/image/uploadImage.js
  frontend/components/common/WritingArea.jsx
  frontend/services/image/adders.js
  frontend/services/image/index.js
  frontend/services/index.js
Labels: :baby_chick: Frontend, ⛽ Backend

#176 [FE][feat] : Reaction 상태 출력 컴포넌트 추가, addReaction 로직 추가
  frontend/components/comment/Comment.jsx
  frontend/components/comment/CommentItem.jsx
  frontend/components/comment/CommentList.jsx
  frontend/services/reactions/adders.js
  frontend/services/reactions/deleters.js
  frontend/services/reactions/index.js
  frontend/stories/Comment.stories.jsx
  frontend/stories/CommentItem.stories.jsx
  frontend/stories/CommentList.stories.jsx
Labels: :baby_chick: Frontend

#177 [feat] 필터기능 구현
  backend/services/issue/getIssues.js
  backend/services/issue/patchIssues.js
  frontend/components/common/Dropdown.jsx
  frontend/components/issue/IssueCard.jsx
  frontend/components/issue/IssueList.jsx
  frontend/components/issue/IssueListHeader.jsx
  frontend/components/issue/IssueSelectFilter.jsx
  frontend/pages/issues/IssueListPage.jsx
  frontend/services/issue/index.js
  frontend/services/issue/updaters.js
  frontend/stories/IssueCard.stories.jsx
  frontend/utils/OptionGenerator.jsx
  frontend/utils/toggle-array.js
Labels: :baby_chick: Frontend, ⛽ Backend

#178 [FE]이슈상세page
  frontend/components/comment/Dropdown.jsx
  frontend/components/comment/NewCommentForm.jsx
  frontend/components/common/WritingArea.jsx
  frontend/components/issue/NewIssueForm.jsx
  frontend/components/issue/issueDetailHeader.jsx
  frontend/pages/issues/IssueDetailPage.jsx
  frontend/services/comment/adders.js
  frontend/services/comment/index.js
  frontend/services/index.js
  frontend/services/issue/updaters.js
Labels: :baby_chick: Frontend

#179 [FE][fix] : 마일스톤 페이지 버그 수정 및 개선
  frontend/components/milestone/Milestone.jsx
  frontend/store/MilestoneProvider.jsx
Labels: :baby_chick: Frontend

#180 [BE][fix] : 댓글추가 err수정
  backend/services/comment/addComment.js
Labels: ⛽ Backend

#181 [FE][fix] : 라벨, 마일스톤 페이지 버그 수정
  frontend/pages/common/LabelMilestonePage.jsx
  frontend/pages/labels/LabelListPage.jsx
Labels: :baby_chick: Frontend

#182 [FE][fix] 필터 오류 수정 && isClosed 드롭다운
  frontend/components/common/Button.jsx
  frontend/components/issue/IssueSelectFilter.jsx
  frontend/pages/issues/IssueListPage.jsx
  frontend/utils/OptionGenerator.jsx
  frontend/utils/toggle-array.js
Labels: :baby_chick: Frontend

#183 [FE][feat] : 리액션 추가/제거기능 구현
  backend/services/user/add-user.js
  frontend/components/Header.jsx
  frontend/components/comment/Comment.jsx
  frontend/components/comment/CommentItem.jsx
  frontend/components/comment/CommentList.jsx
  frontend/pages/auth/LoggingInPage.jsx
  frontend/pages/issues/IssueDetailPage.jsx
  frontend/services/auth/oauth-github.js
  frontend/services/index.js
  frontend/store/UserProvider.jsx
  frontend/utils/tokenStorage.js
Labels: :baby_chick: Frontend

#185 [FE][feat] :이슈제목 수정 #184
  frontend/components/issue/issueDetailHeader.jsx
  frontend/pages/issues/IssueDetailPage.jsx
Labels: :baby_chick: Frontend

#186 [FE][feat] 이슈 상세 페이지 사이드바 동작
  backend/routes/issue/index.js
  backend/services/issue/addIssueMilestone.js
  backend/services/issue/addIssueUser.js
  backend/services/issue/deleteIssueMilestone.js
  backend/services/issue/getIssue.js
  frontend/components/issue/IssueSidebar.jsx
  frontend/pages/issues/IssueDetailPage.jsx
  frontend/services/issue/adders.js
  frontend/services/issue/deleters.js
  frontend/services/issue/index.js
  frontend/utils/OptionGenerator.jsx
Labels: :baby_chick: Frontend, ⛽ Backend

#187 [FE][fix] : 이슈상세페이지 디자인 수정
  frontend/components/comment/NewCommentForm.jsx
  frontend/components/common/Button.jsx
  frontend/components/common/WritingArea.jsx
  frontend/components/issue/issueDetailHeader.jsx
  frontend/pages/issues/IssueDetailPage.jsx
Labels: :baby_chick: Frontend

#189 [Common][fix] : 이슈 추가 관련 문제 수정
  backend/services/issue/addIssue.js
  frontend/components/common/WritingArea.jsx
Labels: :baby_chick: Frontend, ⛽ Backend

#192 [Common][feat] : 페이지 네이션 추가
  backend/services/issue/getIssues.js
  frontend/components/common/ButtonGroup.jsx
  frontend/components/issue/IssueList.jsx
  frontend/components/issue/IssueSelectFilter.jsx
  frontend/components/issue/PageNation.jsx
  frontend/pages/issues/IssueListPage.jsx
Labels: :baby_chick: Frontend, ⛽ Backend

#191 [common][feat] avatar용 이미지 저장
  backend/routes/test/index.js
  backend/sequelize/migrations/20201112073100-user-avatar.js
  backend/sequelize/models/user.js
  backend/services/issue/getIssues.js
  backend/services/user/add-user.js
  backend/services/user/getTest.js
  backend/services/user/getUsers.js
  frontend/components/Header.jsx
  frontend/components/comment/NewCommentForm.jsx
  frontend/components/issue/IssueSelectFilter.jsx
  frontend/pages/auth/LoggingInPage.jsx
  frontend/pages/auth/LoginPage.jsx
  frontend/pages/issues/IssueAddPage.jsx
  frontend/pages/issues/IssueListPage.jsx
  frontend/services/auth/oauth-github.js
  frontend/store/UserProvider.jsx
Labels: :baby_chick: Frontend, ⛽ Backend

#193 [FE][refactor] : github 로고를 모두 react-icons로 변경
  frontend/components/Header.jsx
  frontend/pages/auth/LoginPage.jsx
  frontend/static/github-icon-48.png
Labels: :baby_chick: Frontend

#194 [BE][style] : 잘못된 함수명 수정
  backend/services/issue/addIssueLabel.js
  backend/services/issue/deleteIssueLabel.js
  backend/services/issue/deleteIssueUser.js
  backend/services/issue/getIssue.js
  backend/services/label/deleteLabel.js
  backend/services/label/getLabels.js
Labels: ⛽ Backend

#195 [FE][feat] issue detail 관련 스타일 변경
  frontend/components/issue/IssueSidebar.jsx
  frontend/components/issue/issueDetailHeader.jsx
  frontend/components/label/LabelForm.jsx
  frontend/components/label/LabelList.jsx
  frontend/components/milestone/MilestoneListHeader.jsx
  frontend/pages/issues/IssueAddPage.jsx
  frontend/pages/issues/IssueDetailPage.jsx
  frontend/pages/issues/IssueListPage.jsx
Labels: :baby_chick: Frontend

#198 [FE] 리팩토링
  frontend/components/Header.jsx
  frontend/components/comment/Comment.jsx
  frontend/components/comment/CommentItem.jsx
  frontend/components/comment/CommentList.jsx
  frontend/components/comment/NewCommentForm.jsx
  frontend/components/common/WritingArea.jsx
  frontend/pages/issues/IssueDetailPage.jsx
  frontend/services/comment/index.js
  frontend/services/comment/updaters.js
Labels: :baby_chick: Frontend

#199 [Common][chore] : master브랜치 deploy 설정
  ecosystem.config.js
Labels: 🛠Common

#200 [Common][feat] : 버그 수정 및 기능 개선
  backend/routes/issue/index.js
  backend/services/issue/addIssueMilestone.js
  backend/services/issue/getIssue.js
  frontend/components/Header.jsx
  frontend/components/comment/CommentItem.jsx
  frontend/components/common/Dropdown.jsx
  frontend/components/common/WritingArea.jsx
  frontend/components/issue/IssueSelectFilter.jsx
  frontend/components/issue/issueDetailHeader.jsx
  frontend/pages/issues/IssueListPage.jsx
  frontend/utils/OptionGenerator.jsx
Labels: :baby_chick: Frontend, ⛽ Backend, 🛠Common
